# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# test vault artifacts
test-vault/Images/*.md
test-vault/Assets/*.png
test-vault/Assets/*.jpg
test-vault/Assets/*.jpeg
test-vault/Notes/*.md
test-vault/*.md
test-vault/*.png
test-vault/*.jpg
test-vault/*.jpeg
test-vault/.obsidian/workspace.json
test-vault/.obsidian/app.json
test-vault/.obsidian/plugins

# Exclude macOS Finder (System Explorer) View States
.DS_Store